*{
    font: 12px Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    border: none;
    color: #4f4f4f;

}
body{
}
#head{
    background: #363b41;
    padding: 10px;
    margin-bottom: 10px;
    display:block;
}
h1{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
#settings{
    float: right;
    background: transparent;
    cursor: pointer;
    display: block;
}
#container-all{
    background: #e9ecf1;
    padding: 0px 0px 10px;
    width: 330px;
    display: block;
}
#user-infos button{
    cursor: pointer;
}
.field{
    padding: 5px 0px;
    margin: 0px 14px;
}
.field label{
    font-weight: bold;
    width: 90px;
    display:block;
    float: left;
    text-align: right;
    margin-right: 10px;
    padding: 5px 0px;
}
.field input, .field textarea {
    width: 190px;
    display:block;
    padding: 5px;
}

.field textarea {
    height: 50px;
}

.field button{
    padding: 7px 14px;
    font-weight: bold;
    float: right;
    background: #363b41;
    color: #fff;
    margin-left: 10px;
}
.field.buttons{
    height: 30px;
}

/** DEV 
#container-all{
    border: 2px solid red;
}
*/
